:root {
    --left-right-padding: 5%;
    --box-shadow: 0 0 6px -1px var(--lines-color);
    --radius: 10px;
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
}

body {
    margin: 0;
    background-color: var(--bg_body);
}

* {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    margin: 20px var(--left-right-padding) 10px;
    color: var(--body-text);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    justify-content: space-between;
    padding: 10px var(--left-right-padding);
    background-color: var(--bg_default);
}

.header .logo {
    color: var(--brand-primary);
}

.header .header-control {
    width: 200px;
}

.header .header-control>button {
    margin-right: 5px;
}

.header .header-control button {
    background-color: var(--bg_default);
    height: 40%;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
    color: var(--body-text);
}

.header .header-control button:hover {
    background-color: var(--brand-secondary);
    color: white;
}

.header .header-control button ion-icon {
    margin-right: 3px;
}

.controls {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    background-color: var(--bg_default);
    justify-content: flex-start;
}

.sort,
.filter {
    height: 85%;
    width: 13%;
    padding: 5px;
    color: var(--body-text);
}

.sort {
    border-left: 1px solid  var(--lines-color);
    border-right: 1px solid var(--lines-color);
}

select {
    height: 32%;
    width: 100%;
    border: 0;
    border-radius: var(--radius);
    padding-left: 0;
    font-size: 14px;
    background-color: var(--bg_default);
    color: var(--body-text);

}

input:focus {
    outline: none;
}

.search {
    width: 74%;
}

.search-outline {
    padding-left: 10px;
    padding-right: 5px;
    color: var(--body-text);
}

.search-input {
    border: 0;
    height: 90%;
    width: 100%;
    font-size: 16px;
    background-color: var(--bg_default);
    color: var(--body-text);
    
}

.input:focus {

    outline: none;
}

.control-label {
    font-size: 12px;
    margin-left: 4px;
}


.brand {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    background: linear-gradient(to bottom right, var(--brand-primary) 49%, transparent 50%),
        linear-gradient(to bottom left, var(--brand-secondary) 49%, transparent 50%);
    background-size: 100% 50%;
    background-color: var(--bg_default);
    background-repeat: no-repeat;
}

.brand .center-text {
    text-align: left;
}

.brand h3 {
    margin-top: 40px;
    margin-bottom: 0;
    color: var(--brand-secondary);
    font-weight: bold;
    font-size: 22px;
}

.brand p {
    margin-top: 0;
    color: var(--body-text);
    font-weight: 400;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


.card {
    box-shadow: 0 0 3px -1px var(--lines-color);
    border-radius: var(--radius);
}

.card-title {
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-block: 0;

}

.card-img {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    object-fit: cover;
    width: 100%;
    background: white;
}

.items .card {
    background-color: var(--bg_default);
}


.card a {
    text-decoration: none;
    color: var(--body-text);
}

.card-body {
    padding-left: 10px;
    padding-right: 10px;
}

.rating {
    display: inline-block;
}

.rating ion-icon {
    font-size: 14px;
    color: rgb(225, 147, 3);
    float: right;
}

.rating ion-icon:hover,
.rating ion-icon:hover~ion-icon {
    color: #ffcc00;
}


.items .card .card-body .title {
    font-size: 15px;
    margin-bottom: 23px;

}


.items .card .card-body .author {

    color: #686767;
    font-weight: 400;
    font-size: 12px;
    margin-block: 10px;
}

.items .card .card-body .type {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 0;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.items .card .img img {
    height: 145px;

}

.favs {
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none;
    height: 155px;
    padding: 10px var(--left-right-padding);
    background-color: var(--bg_default);
}

.favs .favs-title {
    color: var(--body-text);
    margin-block: 5px;
}

.favs .fav-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 109px);
    gap: 10px;
    height: 110px;
    overflow-y: auto;
}

.fav-items .card {
    height: 100px;
}

.fav-items .card .card-body .title {
    font-size: 12px;
}

.fav-items img {
    height: 50px;
}

.footer {
    margin-block: 20px;
}

.footer ion-icon {
    color: var(--heart-color);
    font-size: 18px;
    margin-left: 5px;
    margin-right: 7px;
}

@media screen and (max-width: 573px) {

    .button-text {
        display: none;
    }

    .header .header-control {
        width: auto;
    }

    .controls {
        flex-wrap: wrap;
    }

    .items {
        justify-content: space-around;
    }

    .brand {
        padding-left: 5%;

    }

    .brand h3 {
        margin-top: 60px;
    }

    .header .header-control button {
        font-size: smaller;
    }

    .search {
        width: 100%;
        height: 53px;
        border-right: 0;
        border-bottom: 1px solid var(--lines-color);
    }

    .sort{
        width: 45%;
        border-left: 0;
        border-right: 1px solid var(--lines-color);
    }

    .filter {
        width: 45%;
    }

    .search-input {
        border-top-right-radius: 10px;
    }

    .footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 512px) {

    .brand {
        background: linear-gradient(to bottom right, var(--brand-primary) 49%, transparent 50%),
            linear-gradient(to bottom left, var(--brand-secondary) 49%, transparent 50%);
        background-size: 100% 20%;
        background-color: var(--bg_default);
        background-repeat: no-repeat;
    }

    .brand h3 {
        margin-top: 27px;
    }
}