:root {
    --left-right-padding: 5%;
    --box-shadow: 0 0 6px 1px var(--lines-color);
    --radius: 10px;
    --brand-primary: #0768AC;
    --brand-secondary: #03C180;
    --bg_default: #FFFFFF;
    --bg_body: #F0F9FF;
    --lines-color: #DDDDDD;
    --body-text: #333333;
    --heart-color: #DC143C;
}

body {
    margin: 0;
    background-color: var(--bg_body);
}

* {
    font-family: 'Nunito Sans', sans-serif !important;
    box-sizing: border-box !important;
}

.navbar,
.search,
.filter-sort-group {
    background-color: var(--bg_default);
}

.navbar-brand {
    color: var(--brand-primary);
}

.nav-btn {
    box-shadow: 0 0 6px -1px var(--lines-color);
    border: 1px solid var(--lines-color);
    color: var(--body-text);
}

.nav-btn:hover,
.items-number, .footer {
    color: var(--body-text);
}


.controllers {
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.controllers .search {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.controllers .search input {
    width: 100%;
    background-color: var(--bg_default);

}

.controllers .filter-sort-group {

    color: var(--body-text);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

}

.controllers .filter-sort-group .sort {

    border-left: 1px solid var(--lines-color);
    border-right: 1px solid var(--lines-color);

}

.controllers .filter-sort-group select {
    width: 90%;
    display: block;
    border: 0;
    border-radius: var(--radius);
    background-color: var(--bg_default);
    color: var(--body-text);

}

input:focus {
    outline: none;
}

.search-outline {
    padding-left: 10px;
    padding-right: 5px;
    color: var(--body-text);
}

.control-label {
    font-size: 12px;
    margin-left: 4px;
}


.brand {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    background: linear-gradient(to bottom right, var(--brand-primary) 49%, transparent 50%),
        linear-gradient(to bottom left, var(--brand-secondary) 49%, transparent 50%);
    background-size: 100% 50%;
    background-color: var(--bg_default);
    background-repeat: no-repeat;
}

.brand .center-text {
    text-align: left;
}

.brand h3 {
    margin-top: 40px;
    margin-bottom: 0;
    color: var(--brand-secondary);
    font-weight: bold;
    font-size: 22px;
}

.brand p {
    margin-top: 0;
    color: var(--body-text);
    font-weight: 400;
}


.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-card{

    color: var(--body-text);
    background-color: var(--bg_default);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px var(--lines-color);

}

.custom-card-img-top{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.custom-card-type{
    font-size: 14px;
    font-weight: 700;
}

.custom-card-author{
    color: #686767;
    font-weight: 400;
    font-size: 12px;
}

.custom-card a {
    text-decoration: none;
    color: var(--body-text);
}

.rating {
    display: inline-block;
}

.rating ion-icon {
    font-size: 14px;
    color: rgb(225, 147, 3);
    float: right;
}

.rating ion-icon:hover,
.rating ion-icon:hover~ion-icon {
    color: #ffcc00;
}


.favs {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: none;
    height: 155px;
    padding: 10px var(--left-right-padding);
    background-color: var(--bg_default);
}

.favs .favs-title {
    color: var(--body-text);
    margin-block: 5px;
}

.favs .fav-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 109px);
    gap: 10px;
    height: 110px;
    overflow-y: auto;
}

.fav-items .card {
    height: 100px;
}

.fav-items .card .card-body .title {
    font-size: 12px;
}

.fav-items img {
    height: 50px;
}

.footer {
    margin-block: 20px;

}

.footer ion-icon {
    color: var(--heart-color);
    font-size: 18px;
    margin-left: 5px;
    margin-right: 7px;
}

@media screen and (max-width: 768px) {
    .search {
        border-right: 5px;
        border-top-right-radius: 10px;
        border-bottom: 1px solid var(--lines-color);
        border-bottom-left-radius: 0px !important;
    }

    .filter-sort-group {
        border-bottom-left-radius: 10px;

    }

    .controllers .filter-sort-group .sort {

        border-left: 0;
    }

}

@media screen and (max-width: 576px) {

    .controllers {
        flex-direction: column !important;
    }


    .button-text {
        display: none;
    }

    .brand {
        padding-left: 5%;
    }

    .brand h3 {
        margin-top: 60px;
    }

    .search {
        height: 53px;
    }

    .footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 512px) {

    .brand {
        background: linear-gradient(to bottom right, var(--brand-primary) 49%, transparent 50%),
            linear-gradient(to bottom left, var(--brand-secondary) 49%, transparent 50%);
        background-size: 100% 20%;
        background-color: var(--bg_default);
        background-repeat: no-repeat;
    }

    .brand h3 {
        margin-top: 27px;
    }
}