.details {
    display: flex;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to bottom, #333333 0%, #333333 50%, transparent 45%, transparent 100%);
    min-height: 300px
}
@media screen and (max-width: 768px) {

    .details {
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(to bottom, #333333 0%, #333333 68%, transparent 68%, transparent 100%);
    }
}